/* цвет основного текста #212121 */


/* цвет вчторичного текста #757575  */


/* цвет акцента  #2196F3 */


/* цвет белого текста #FFFFFF; */


/* цвет текста контакта  rgba(255, 255, 255, 0.6); */


/* основной цвет фона #FFFFFF */


/* вторичный цвет фона #F5F4FA */


/* цвет фона футера #2F303A */

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --white-color-bgc-text: #FFFFFF;
    --contacts-text-color: rgba(255, 255, 255, 0.6);
    --secondary-bgc-color: #F5F4FA;
    --footer-color: #2F303A;
}

body {
    background: var(--white-color-bgc-text);
    color: var(-primary-text-color);
}

.list {
    list-style: none;
}


/* Шапка сайта */

.logo {
    color: var(--accent-color);
}

.logo .end {
    color: var(--primary-text-color);
}


/* Навигация сайта */

.site-nav .link {
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}


/* Контакты сайта */

.contacts .link {
    color: var(--secondary-text-color);
}

.address .link {
    color: var(--contacts-text-color);
}

.contacts .link:hover,
.contacts .link:focus,
.address .link:hover,
.address .link:focus {
    color: var(--accent-color);
}


/* Герой для index.html*/

.hero,
.footer {
    background-color: var(--footer-color);
}

.hero-title {
    color: var(--white-color-bgc-text);
}

.hero .btn {
    color: var(--white-color-bgc-text);
    background-color: var(--accent-color);
}


/* Главные секции сайта */

.advantage-text,
.team-position,
.portfolio-text {
    color: var(--secondary-text-color);
}


/* Футер */

.text.end {
    color: var(--white-color-bgc-text);
}

.address {
    color: var(--white-color-bgc-text);
}


/* Кнопки */

.btn {
    background-color: var(--secondary-bgc-color);
    color: var(--primary-text-color);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
    color: var(--white-color-bgc-text);
}